<form action="/users" method="POST" class="form">
    <label for="name">Username</label>
    <input type="text" name="name" placeholder="username"  class="form-input"/>
    <button type="submit" class="form-btn">Add User</button>
</form>